* {
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  display: inline-block;
  margin: 40px auto;
}

.statContainer {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.healthContainer {
  display: flex;
  justify-content: flex-start;
  position: relative;
  height: 30px;
  width: 100%;
}

.playerHealthContainer {
  display: flex;
  justify-content: flex-end;
}

.healthBackground {
  background-color: yellow;
  width: 100%;
  height: 100%;
}

.health {
  position: absolute;
  background-color: blue;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.playerHealth {
  left: 0;
}

.timer {
  background-color: red;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resultContainer {
  position: absolute;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: none;
}
